<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Kitchening | Home</title>
    <script src="https://kit.fontawesome.com/0b63215334.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="header">
        <img class="header_logo"src="/images/logo.jpeg" alt="logo">
        <button class="header_hamburger">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="header_nav">
            <ul class="header_nav--ul">
                <li><a href="/">Home</a></li>
                <li><a href="/quienes">Quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">Porfolio</a></li>
                <li><a href="/sucursales">Sucursales</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home_main">
        <section class="home_main_section">
            <img class="home_main_section--banner"src="/images/img-banner.jpeg" alt="banner">
        </section>
        <section class="home_main_section--productos">     <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-1.jpeg" alt="producto-1">
                    <img class="home_main_section_article--images-sticker" src="/images/new.jpeg" alt="new">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
            <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-2.jpeg" alt="">
                    <img class="home_main_section_article--images-sticker" src="/images/gratis.jpeg" alt="">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
            <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-3.jpeg" alt="">
                    <img class="home_main_section_article--images-sticker" src="/images/descuento.jpeg" alt="">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
            <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-1.jpeg" alt="">
                    <img class="home_main_section_article--images-sticker" src="/images/new.jpeg" alt="">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
            <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-2.jpeg" alt="">
                    <img class="home_main_section_article--images-sticker" src="/images/gratis.jpeg" alt="">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
            <article class="home_main_section_article">
                <div class="home_main_section_article--images">
                    <img class="home_main_section_article--images-producto" src="/images/producto-3.jpeg" alt="">
                    <img class="home_main_section_article--images-sticker" src="/images/descuento.jpeg" alt="">
                    <a class="home_main_section_article--images-zoom" href="/ampliar Foto">Ampliar Foto</a>
                </div>
                <div class="home_main_section_article--contenido">
                   <h4>Lorem ipsum dolor</h4>
                   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum laborum animi quae nesciunt est mollitia aspernatur vitae doloribus quod recusandae. </p>
                   <a href="/verMas">Ver Más</a>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <nav class="footer_nav">
            <ul class="footer_nav--ul">
                <li><a href="/">Home</a></li>
                <li><a href="/quienes">Quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">Porfolio</a></li>
                <li><a href="/sucursales">Sucursales</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>